body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0; 
}
.top-content{
    text-align: center;
    padding: 13%;
    color: white;
}
h1{
    font-size: 50px;
}
.donation-text{
    padding-left: 35%;
    padding-right: 35%;
    
}
.donation-button{
    padding: 15px;
    background-color: #FF5959;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 5%;
    
}
.top-banner{
    background-color: rgba(0, 0, 0, .5);
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken,luminosity;

}
.donation-amount{
    text-align: center;
}
.donation-msg{
    text-align: center;
}
.amount{
    display: flex;
    justify-content: center;
}
.amount-form{
    text-align: center;
    border: none;
}
h3{
    margin-left: 2%;
    margin-right: 2%;
    padding: 25px;
    background-color: #FAFAFA;
    border-radius: 5%;
}
h3:hover{
    background-color: #FFEEEE;
    border: 1px solid red;
    
}
#amount-field{
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #DADADA;
    text-align: center;
}
.button{
    margin-top: 20px;
}
.donation-plan-text{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}
.donation-plan-description{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}
#food{
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    width: 350px;
    height: 350px;
    background-color:#b9eff5;
    border-radius: 5%;
}
#education{
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    width: 350px;
    height: 350px;
    background-color:#faa4a4;
    border-radius: 5%;
}
#shelter{
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    width: 350px;
    height: 350px;
    background-color:#FFF4D6;
    border-radius: 5%;
}
#email{
    outline: 0;
    border: 0;
    padding: 16px;
    margin-right: -1%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
.volunteer{
    text-align: center;
    margin-bottom: 60px;
    background-color: #FFF4D6;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
}
#submission-button{
    padding: 15px;
    background-color: #FF5959;
    color: white;
    font-size: 15px;
    border: 0;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
footer{
    text-align: center;
    width: 100%;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #FF5959;
    background-color: black;
}